


<header class="masthead my-4">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="brand-heading">The Dish Explorer</h1>
                    <p class="intro-text">A coursera capstone project
                        <br>Created by Óscar Sánchez</p>
                </div>
            </div>
        </div>
    </div>
</header>


    <div class="container" ng-controller="IndexController">
        <div class="row" ng-if="!showRecipes">
            <h3>{{loadingMessage}}</h3>
        </div>
        <div class="row text-center" ng-if="showRecipes">

            <div class="col-lg-3 col-md-6 mb-4" ng-repeat="recipe in recipes">
                <div class="card" ng-click="seeDetail(recipe._id)"> 
                    <img class="card-img-top" src="{{recipe.image}}">
                    <div class="card-body">
                        <h4 class="card-title">{{recipe.name}}</h4>
                        <p class="card-text">{{recipe.description}}</p>
                    </div>
                    
                    <div class="card-footer" ng-if="loggedIn">
                        <button type="button" class="btn mybutton" ng-click="addFavourite(recipe._id)" 
                                ng-disabled="favourites.indexOf(recipe._id) != -1">
                            <i class="fa fa-star" aria-hidden="true"></i> Add to favourites
                        </button>
                    </div>
                    
                </div>
            </div>
            
        </div>  


    </div>


