
    <div class="container" ng-controller="RecipeDetailController">
        
        <div class="row" ng-if="!showRecipe">
            <h3>{{message}}</h3>
        </div>
        
        <div class="row row-content mb-3 mt-3" ng-if="showRecipe">
            <div class="col-12">
            
                <div class="row recipeHeader">
                    <div class="col-md-9 col-12 text-left zeroLeftMargin"><h1>{{recipe.name}}</h1></div>
                    <div class="col-md-3 col-12 text-right"><h5>by {{recipe.author}}</h5></div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-7 mb-3">
                        <div class="ingredients">
                            <dl>
                                <dt ng-repeat-start="ingredient in recipe.ingredientList">{{ingredient}}</dt>
                                <dd ng-repeat-end></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 mb-3">
                        <div class="row align-items-start">
                            <div class="col-12 text-center recipeImgContainer">
                                <img src="{{recipe.image}}" alt="" >
                            </div>
                        </div>
                        <div class="row recipeInfoContainer">
                            <div class="col-4">
                                <i class="fa fa-lg fa-clock-o"></i><span> {{recipe.time}} min</span>
                            </div>
                            <div class="col-3">
                                <i class="fa fa-lg fa-user" aria-hidden="true"></i><span> {{recipe.servings}}</span>
                            </div>
                            <div class="col-5">
                                <i class="fa fa-lg fa-graduation-cap" aria-hidden="true"></i><span> {{recipe.level}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center">
                                <span class="tagBox" ng-repeat-start="keyword in recipe.keywords">{{keyword}}</span>
                                <span ng-repeat-end>&nbsp;</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="directions">
                            <dl>
                                <dt ng-repeat-start="direction in recipe.directionList"> 
                                    {{direction}}
                                </dt>
                                <dd ng-repeat-end></dd>
                            </dl>
                        </div>
                    </div>
                </div>
                
            </div>
        
        </div>
        
    </div>

